.flowerx{
  padding-top: 200px;
}

*{
  color:  white;
  margin: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width: 630px){
.flowerx{
  padding-top: 100px;
}
}

.centerbutton{
  height: 150px;
  width: 100%;
  margin: 0;
  left: 0;
  position: relative;
}


.vertical-center {
  margin-top: 40px;
  width: 122px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

button{
  color: black;
  font-size: 14px;
  height: 52px;
  width: 121px;
  border-radius: 24px solid black;
  margin-left: auto;
  margin-right: auto;
}

button:hover
{
  background-color: #d1d1d1;
}
